@charset "utf-8";
/* CSS Document */

body{
	font-family: Khmer OS Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.img img{
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}
.first-news{
	padding: 5px;
	margin-left: 25px;
	margin-top: 5px;
	border-bottom: black;
	border-top: black;
}
.first-news img{
	border-radius: 10px;
	position: absolute;
	
}
p{
	position: absolute;
	left: 45%;
	
}
.imgfooter{
	position: absolute;
	padding-left: 14%;
}